@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    @apply bg-slate-300 rounded p-4;
}

.myalert{
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 
    rounded relative my-5;
}